<%- include('../include/base.ejs') %>
<link rel="stylesheet" href="/admin.css">
</head>
<%- include('../include/header.ejs') %>

<main class="main">
    <form class="forms" action="<% if(editing){%> /eit-product <%}else{ %> /add-product <% } %>" method="post">
        <div class="wrapperInput" >
            <label for="title" class="label-input">title product</label>
            <input type="text" name="title" value="<% if (editing) { %> <% prods.title %> <% } %>">
        </div>
        <div class="wrapperInput" >
            <label for="price" class="label-input">price product</label>
            <input type="number" name="price" value="<% if (editing) { %> <% prods.price %> <% } %>">
        </div>
        <div class="wrapperInput"  class="label-input">
            <button type="submit"> <% if(editing) { %> update <% }else { %> add product <%} %>  </button>
        </div>

    </form>
</main>
<%- include('../include/end.ejs') %>
    
