<%- include('../include/base.ejs') %>
<link rel="stylesheet" href="/home.css">
</head>
<%- include('../include/header.ejs') %>

<main class="main">
    <form action="login" method="POST">
        <button type="submit" class="btn">LOGIN</button>
    </form>
</main>
<%- include('../include/end.ejs') %>
    
