<%- include('../include/base.ejs') %>
<link rel="stylesheet" href="/home.css">
</head>
<%- include('../include/header.ejs') %>

<main class="main">
    <form action="/login" method="POST" style="display: flex; justify-content: center;align-items: center;margin: 15rem;flex-direction: column;">
        <button type="submit" class="btn">LOGIN</button>
        <br>
    </form>
    <form action="/logout" method="POST" style="display: flex; justify-content: center;align-items: center;margin: 15rem;flex-direction: column;">
        <button type="submit" class="btn">logout</button>
        <br>
    </form>
</main>
<%- include('../include/end.ejs') %>
    
